.country__info__wrapper {
    height: 100%;
    width: 100%;
    padding: 20px;
  background: #d2e3c86d;
   display: flex;
   border-radius: 10px;
}
.All-dark-mode{      
   background: #b2c8ba6c;

}
.All-light-mode{
  background: #d2e3c818;
}
.countryinfo-dark-mode{
  color:black;
}
.countryinfo-light-mode{  
   color:#fcfcfc;
}
.all-container{
  border-radius: 10px;
  border: 10px;
}
.country__info__container{
  width: 80%;
  margin-left: 30%;
  padding: 50px;
}

.country__info-img,
.country__info {
  width: 50%;
}
a {
  text-decoration: none;
}

.country__info h3 {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.country__info-left h5 {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.country__info-left h5 span {
  opacity: 85%;
  font-weight: 400;
}
.back{
  outline: none;
  cursor: pointer;
  height: 80px;
  width: 50px;
  float: left;
  padding: 10px;
  margin-left: 20px;
}
.button-light-mode{
color: #beafaf;
}
.button-dark-mode{
color: #060606;
}