.country__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 2rem;
}

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.country__card {
  width: 380px;
  border-radius: 5px;
  display: flex;
}

.country-dark-mode {
  background: #d2e3c886;
  color: black;
}

.country-light-mode {
  background: #0d1c22;
  color: white;
}

.country__card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.country__img img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 10px;
}

.country__data {
  padding: 10px;
}

.country__data h3 {
  font-weight: 500;
}

.country__data h6 {
  font-weight: 400;
}

.country__bottom h4 {
  text-align: center;
  margin-top: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 200px auto;
}
