@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body, html {
  height: 100%;
}

body {
  background: #071015;
  margin: 0;
}

.containerr {
  display: flex;
  overflow: hidden;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  background: #071015;
}

.App-dark-mode {
  color: black;
  background: #ebf3e8;
}

.App-light-mode {
  color: #fff;
}

.right {
  margin: 70px 150px;
  height: 100%;
  width: 100%;
  padding: 50px;
}
