@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

.containerr {
  display: flex;
  overflow: hidden;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0px 15px;
 
}
.App-dark-mode{
  color:black;
  background:#EBF3E8;
}
.App-light-mode{
 color: #fff;
  background: #071015;
}

body{
  background: #071015;
}
.right{
    margin: 70px 150px;
    height: 100%;
    width: 100%;
    padding: 50px;
}









